.wrapper {
  display: flex;
  text-align: left;
  justify-content: center;
  background-color: rgb(2, 43, 56);
  color: aliceblue;
}

.img {
  height: 30vh;
  width: 40%;
  float: right;
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
}
.text-box {
  text-align: left;
  font-size: 15px;
}
